{
  "global": {
    "in_development":true,
    "disable_captcha_and_mail": false,
    "service_name":"CourseBench Backend",
    "server_url": "http://127.0.0.1:10001",
    "avatar_size_limit": 1048576
  },
  "minio": {
    "username": "course-bench",
    "password": "123456",
    "bucket": "course-bench",
    "endpoint": "cdn.geekpie.club"
  },
  "postgres": {
    "host": "127.0.0.1",
    "port": 5432,
    "username": "coursebench",
    "password": "123456",
    "database": "coursebench"
  },
  "smtp": {
    "address": "geekpie@geekpie.club",
    "name": "GeekPie, ShanghaiTech University",
    "service_name": "上海科技大学评教系统",
    "host": "smtp.gmail.com",
    "port": 465,
    "username": "Geekpie",
    "password": "123456"
  },
  "redis": {
    "host": "127.0.0.1",
    "port": 6379
  },
  "fiber": {
    "listen": "127.0.0.1:10001",
    "reverse_proxy_depth": 1
  },
  "log": {
    "log_file": "coursebench.log"
  }
}