{
  "global": {
    "in_development":true,
    "service_name":"CourseBench Backend"
  },
  "postgres": {
    "host": "127.0.0.1",
    "port": 5432,
    "username": "coursebench",
    "password": "123456",
    "database": "coursebench"
  },
  "smtp": {
    "address": "geekpie@geekpie.club",
    "name": "GeekPie, ShanghaiTech University",
    "host": "smtp.gmail.com",
    "port": 465,
    "username": "Geekpie",
    "password": "123456"
  },
  "redis": {
    "host": "127.0.0.1",
    "port": 6379
  },
  "fiber": {
    "listen": "127.0.0.1:10001",
    "reverse_proxy_depth": 1
  }
}